{% load static %}

    <a href="/disease">Display</a>

	<form method="POST" action="/disease/addDisease/"  id="myform" enctype="multipart/form-data">
		{% csrf_token %}

    Disease Code  <input type="text" name="txt1" >
    Pathogen  <input type="text" name="txt2" >
    Description  <input type="text" name="txt3" >
    <!-- Id  <input type="number" name="num1" > -->
    Id <select class="form-control" name='num1'>
        {% for i in code %}
            <option value='{{i.0}}'>{{i.0}}</option>
        {% endfor %}
    </select>
       <br/>
        <button type="submit" >Insert Data</button>
	</form>
</div>
