<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/list/create">Add</a>
    <table border='1'>
    <thead class="thead">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for i in users %}
    <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td><a href='edit/{{i.0}}'>Edit</a> | <a href='delete/{{i.0}}'>Delete</a> </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
