<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/disease/createDisease">Add</a>
    <table border='1'>
    <thead class="thead">
        <tr>
            <th>Disease Code</th>
            <th>Pathogen</th>
            <th>Description</th>
            <th>ID (Disease Type)</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for i in disease %}
    <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td><a href='editDisease/{{i.0}}'>Edit</a> | <a href='deleteDisease/{{i.0}}'>Delete</a> </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
